*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #848485;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms{
  width: 400px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms h1{
  font-size: 30px;
  color: #848485;
  margin-bottom: 20px;
  padding-top: 40px;
}

p{
  font-size: 14px;
  color: #848485;
  margin-bottom: 20px;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #848485;
  margin-bottom: 10px;
  color: black;
}

input{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #848485;
  padding-left: 10px;
  margin-bottom: 20px;
}

.jenis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}